body{
    background-color: rgb(255 180 105) ;
}

nav{
  height: 60px;
  width: auto;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(247, 131, 36);
  border-radius: 45px 45px 0px 45px ;
  box-shadow: 5px 5px 15px black ;
}
nav .icon{
    display: none;
}

@media screen and (max-width: 600px) {
  /* nav a:not(none) {display: none;} */
  nav a {display: none;}
  nav a.icon {
    float: right;
    display: block;
    
  }
}
  
/* The "responsive" class is added to the nav with JavaScript when the user clicks on the icon. */
@media screen and (max-width: 600px) {
  nav.responsive {position: relative;}
  nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
  }
  nav.responsive a {
    float: none;
    display: block;
    width: auto;
    text-align: left;
  }
  nav.responsive .menu{
    z-index: 2;
    height: 30px;
    padding-top: 10%;
  }
}
#mn{
    width:  40px;
    height: 35px;
    padding: 15px 10px 0px 0px ;
}
.logo{
    height: 80px;
    width:  80px;
    margin: 18px 40px ;
    z-index: 3;
    border-radius: 50%;
    box-shadow: 5px 5px 10px black ;
}
.menu{
    width: 250px;
    margin: 18px 15px 18px 18px;
    padding: 0 5px 0 px;
    display: flex;
    justify-content: space-between;
    font-size: large;
}
.menu a{
    width: auto;
    padding: 2px;
    color: rgb(84, 38, 2);
    font-weight: 1000;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(81, 36, 4);
    text-decoration: none;
}
.menu a:hover{
    width: auto;
    padding: 4px;
    border-radius: 5px;
    background-color: rgb(81, 36, 4);
    color: rgb(247, 131, 36);
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(247, 131, 36);
}

h1{
    font-size: 80px;
    color: rgb(174, 75, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1.5px 1px  #262323;
    text-align: center;
}

